version: "3"
services:
  db:
    image: postgres
    ports:
      - 5433:5433
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
  web:
    build: .
    command: bundle exec rails server -p 3001 -b '0.0.0.0'
    depends_on:
      - db
      - chrome
    ports:
      - 3001:3001
    environment:
      DATABASE_HOST: db
      BUNDLE_PATH: "/bundle"
      SELENIUM_DRIVER_URL: http://chrome:4444/wd/hub
    tty: true
    stdin_open: true
    volumes:
      - .:/myapp:delegated
      - bundle:/bundle
  chrome:
    image: selenium/standalone-chrome
    ports:
      - 4444:4444
  swagger:
    image: swaggerapi/swagger-ui
    volumes:
      - ./openapi:/usr/share/nginx/html/openapi
    environment:
      API_URL: ./openapi/openapi.yaml
    ports:
      - 8081:8081
volumes:
  pgdata:
  bundle:
