version: "3"
services:
  db:
    image: postgres
    ports:
      - 5433:5433
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
  web:
    build: .
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"
    depends_on:
      - db
    ports:
      - "$API_PORT:$CONTAINER_PORT"
    environment:
      DATABASE_HOST: db
      BUNDLE_PATH: "/bundle"
      FRONT_DOMAIN: "localhost:$FRONT_PORT"
      API_URL: "http://localhost:$API_PORT"
    tty: true
    stdin_open: true
    volumes:
      - .:/myapp:delegated
      - bundle:/bundle:delegated
      - node_modules:/node_modules:delegated
  swagger:
    image: swaggerapi/swagger-ui
    volumes:
      - ./openapi:/usr/share/nginx/html/openapi
    environment:
      API_URL: ./openapi/openapi.yaml
    ports:
      # NOTE: ホストからは8081で接続する
      - 8081:8080
  front:
    build:
      context: ./front
      args:
        WORKDIR: $WORKDIR
        CONTAINER_PORT: $CONTAINER_PORT
        API_URL: "http://localhost:$API_PORT"
    command: yarn run dev
    volumes:
      - ./front:/$WORKDIR
    ports:
      - "$FRONT_PORT:$CONTAINER_PORT"
    depends_on:
      - web
volumes:
  pgdata:
  bundle:
  node_modules:
