openapi: 3.0.3
info:
  title: SuppleBox API Document
  version: 1.0.0
paths:
  /api/sessions:
    get:
      operationId: fetchCurrentUser
      summary: Get Current User
      responses:
        200:
          description: get current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currentUser'
  /api/products:
    get:
      operationId: fetchProducts
      summary: Get and Search Products
      parameters:
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        200:
          description: get products
          content:
            application/json:
              schema:
                type: object
                required:
                  - products
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/products'
  /api/posts:
    get:
      operationId: fetchPosts
      summary: Get Products
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        200:
          description: get posts
          content:
            application/json:
              schema:
                type: object
                required:
                  - posts
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/posts'
  /api/contacts:
    post:
      operationId: postContact
      summary: Post Contact
      requestBody:
        description: 問い合わせに必要なパラメータ
        content:
          application/json:
            schema:
              type: object
              required:
                - contact
              properties:
                contact:
                  $ref: '#/components/schemas/contact'
      responses:
        200:
          description: post contact
          content:
            application/json:
              schema:
                type: object
        400:
          description: invalid request
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    currentUser:
      type: object
      required:
        - user
      properties:
        user:
          type: object
          nullable: true
          required:
            - id
            - name
            - path
          properties:
            id:
              type: number
            name:
              type: string
            path:
              type: string
    products:
      type: object
      required:
        - title
        - image_url
        - product_link
        - post_count
        - rate
        - likes
      properties:
        title:
          type: string
        image_url:
          type: string
        brand_amazon_name:
          type: string
        product_link:
          type: string
        post_count:
          type: integer
        rate:
          type: number
        likes:
          type: integer
    contact:
      type: object
      required:
        - name
        - email
        - title
        - content
      properties:
        name:
          type: string
        email:
          type: string
        title:
          type: string
        content:
          type: string
    posts:
      type: object
      required:
        - title
        - content
        - rate
        - edit_path
        - user
        - product
      properties:
        title:
          type: string
        content:
          type: string
        rate:
          type: number
        picture_url:
          type: string
          nullable: true
        edit_path:
          type: string
        user:
          type: object
          required:
            - picture_url
            - name
          properties:
            picture_url:
              type: string
            name:
              type: string
            gender:
              type: string
              nullable: true
            height:
              type: string
              nullable: true
            weight:
              type: string
              nullable: true
        product:
          type: object
          required:
            - image_url
            - path
            - title
          properties:
            image_url:
              type: string
            path:
              type: string
            title:
              type: string
