version: 2.1
jobs:
  rspec:
    docker:
      - image: circleci/ruby:3.0.0-node-browsers
        environment:
          RAILS_ENV: test
          POSTGRES_HOST: 127.0.0.1
      - image: circleci/postgres:9.4
        environment:
          POSTGRES_HOST_AUTH_METHOD: trust

    working_directory: ~/supplebox

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-
      - run: gem install bundler:2.0.2
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: yarn install
      - save_cache:
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
          paths:
            - ./vendor/bundle
            - ./node_modules
      - run: bundle exec rails db:create RAILS_ENV=test
      - run: bundle exec rails db:schema:load RAILS_ENV=test
      - run: bundle exec bin/webpack
      - run:
          name: RSpec
          command: bundle exec rspec

  rubocop:
    docker:
      - image: circleci/ruby:3.0.0-node-browsers
        environment:
          RAILS_ENV: test
          POSTGRES_HOST: 127.0.0.1
      - image: circleci/postgres:9.4
        environment:
          POSTGRES_HOST_AUTH_METHOD: trust

    working_directory: ~/supplebox

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-
      - run: gem install bundler:2.0.2
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
          paths:
            - ./vendor/bundle
      - run:
          name: RuboCop
          command: bundle exec rubocop

  eslint:
    docker:
      - image: circleci/ruby:3.0.0-node-browsers
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-
      - checkout
      - run: yarn install
      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: eslint
          command: yarn run lint

  bundle_update:
    docker:
      - image: circleci/ruby:3.0.0-node-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-
      - run: gem install bundler:2.0.2
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: bundle update
      - save_cache:
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
          paths:
            - ./vendor/bundle
      - run: git checkout -b bundle-update-$CIRCLE_BUILD_NUM
      - run: git config user.email ${GITHUB_EMAIL_ADDRESS}
      - run: git config user.name "yuki0920"
      - run: git add Gemfile Gemfile.lock
      - run: git commit -am '今月のGemfile更新用の自動作成PR'
      - run: git push origin bundle-update-$CIRCLE_BUILD_NUM
      - run:
          name: Create a pull request
          command: |
            curl \
              --header "Accept: application/vnd.github.v3+json" \
              --data "{\"title\": \"今月のbundle-update\", \"head\": \"handsshare:bundle-update-$CIRCLE_BUILD_NUM\", \"base\":\"master\" }" \
              https://api.github.com/repos/yuki0920/supplebox/pulls?access_token=${GITHUB_ACCESS_TOKEN}

  yarn_upgrade:
    docker:
      - image: circleci/ruby:3.0.0-node-browsers
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}-{{ checksum "yarn.lock" }}
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-
      - checkout
      - run: yarn install
      - run: yarn upgrade
      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run: git checkout -b yarn-upgrade-$CIRCLE_BUILD_NUM
      - run: git config user.email ${GITHUB_EMAIL_ADDRESS}
      - run: git config user.name "yuki0920"
      - run: git add package.json yarn.lock
      - run: git commit -am '今月のGemfile更新用の自動作成PR'
      - run: git push origin yarn-upgrade-$CIRCLE_BUILD_NUM
      - run:
          name: Create a pull request
          command: |
            curl \
              --header "Accept: application/vnd.github.v3+json" \
              --data "{\"title\": \"今月のyarn-upgrade\", \"head\": \"handsshare:yarn-upgrade-$CIRCLE_BUILD_NUM\", \"base\":\"master\" }" \
              https://api.github.com/repos/yuki0920/supplebox/pulls?access_token=${GITHUB_ACCESS_TOKEN}
workflows:
  version: 2
  rspec_and_rubocop_and_eslint:
    jobs:
      - rspec
      - rubocop
      - eslint
  monthly-bundle-update:
    triggers:
      - schedule:
          # UTC記述。毎月1日に動作する
          cron: "0 9 1 * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - bundle_update
  monthly-yarn-upgrade:
    triggers:
      - schedule:
          # UTC記述。毎月3日に動作する
          cron: "3 9 1 * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - yarn_upgrade
