.user-nav.nav.nav-pills.nav-fill
  = link_to user_path(@user), class: "user-nav__item nav-link nav-item #{'active' if current_page?(user_path(@user))}" do
    口コミ一覧
  = link_to like_products_user_path(@user), class: "user-nav__item nav-link nav-item #{'active' if current_page?(like_products_user_path(@user))}" do
    お気に入りのプロテイン一覧
