/ ユーザープロフィール
= render 'users/user_profile', user: @user
/ /ユーザープロフィール
.col-md-12
  / ユーザーナビバー
  = render 'users/user_nav', user: @user
  / /ユーザーナビバー
  / フォロー一覧
  = render 'users', users: @followings
  / /フォローミ一覧
