%h2 ユーザー一覧
- breadcrumb :users
/ ユーザー検索
.search
  .row
    .text-center
      = search_form_for @q, class:'form-inline' do |f|
        .form-group
          = f.text_field :name_or_nickname_cont, class: 'form-control input-lg', placeholder: "ユーザー名やニックネームを入力", size: 40
        = f.submit 'ユーザーを検索', class: "btn btn-success btn-lg"
/ ユーザー一覧
= render 'users/users', users: @users
