<h2>ユーザー一覧</h2>

<!--ユーザー検索-->
<div class="search">
  <div class="row">
    <div class="text-center">
      <%= search_form_for @q, class:'form-inline' do |f| %>
        <div class="form-group">
          <%= f.text_field :name_or_nickname_cont, class: 'form-control input-lg', placeholder: "ユーザー名やニックネームを入力", size: 40 %>
        </div>
        <%= f.submit 'ユーザーを検索', class: "btn btn-success btn-lg" %>
      <% end %>
      </div>
  </div>
</div>
<!--ユーザー一覧-->
<%= render 'users/users', users: @users %>