<!--ユーザープロフィール-->
<%= render 'users/user_profile', user: @user %>
<!--/ユーザープロフィール-->
<div class="col-md-12">
  <!--ユーザーナビバー-->
  <%= render 'users/user_nav', user: @user %>
  <!--/ユーザーナビバー-->
  <!--フォロー一覧-->
  <%= render 'products/products', products: @products %>
  <!--/フォローミ一覧-->
</div>
