<!--ユーザープロフィール-->
<%= render 'users/user_profile', user: @user %>
<!--/ユーザープロフィール-->
<div class="col-md-12">
  <!--ユーザーナビバー-->
  <%= render 'users/user_nav', user: @user %>
  <!--/ユーザーナビバー-->
  <!--口コミ一覧-->
  <% @posts.each do |post| %>
    <%= render 'posts/posts', post: post %>
  <% end %>
  <!--/口コミ一覧-->
</div>