<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>サプリメント選びで失敗したくないあなたへ</h1>
          <% unless logged_in? %>
            <%= link_to 'SuppleBoxを始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>