<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>サプリメント選びで失敗したくないあなたへ</h1>
        <a href="" class="btn btn-success btn-lg">SuppleBoxを始める</a>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>