- if page.current?
  %li.page-item.active
    = content_tag :a, page, class: 'page-link', data: { remote: remote }, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil))
- else
  %li.page-item
    = link_to page, url, remote: remote, class: 'page-link', rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil))
