/ 口コミ投稿フォーム
.py-3
  .container
    %h2.mb-3
      口コミ投稿する
      / フォーム
    %form
      / お名前
      .form-group.row
        %label.col-md-3.col-form-label{for: "name"}
          タイトル
          %span.badge.badge-warning 必須
        .col-md-9
          %input#name.form-control{required: "", type: "text"}/
      / 評価
      .form-group.row
        %label.col-md-3.col-form-label{for: "category"}
          アイテムの評価
          %span.badge.badge-warning 必須
        .col-md-1
          %select#category.form-control{name: "category"}
            %option{value: "category5"} 5
            %option{value: "category4"} 4
            %option{value: "category3"} 3
            %option{value: "category2"} 2
            %option{value: "category1"} 1
      / 口コミ
      .form-group.row
        %label.col-md-3.col-form-label{for: "message"}
          口コミ内容
          %span.badge.badge-warning 必須
        .col-md-9
          %textarea#message.form-control{name: "message", rows: "8"}
      / 確認ボタン
      .form-group.row.justify-content-end
        .col-md-9
          %button.btn.btn-success{type: "submit"} 確認する
