@charset "utf-8";
@import "bootstrap";

$green: #4fd2c2;
$light_gray: #ddd;
$dark_gray: #f2f2f2;
$success_green: #5cb85c;
$success_light_green: #4cae4c;
$warning_yellow: #f0ad4e;
$danger_red: #d9534f;

/* body */
body {
  background: $dark_gray;
}
footer {
  margin-top: 40px;
}

h1,h2 {
  text-align: center;
  margin: 30px 0;
}
h3,h4 {
  margin: 15px 0;
}

a {
  color: $green;
  text-decoration: none;
}

.media-list {
  margin-top: 10px;
}

/* user-nav */
.user-nav {
  .nav-link.active {
    color: $green;
    background-color: white;
  }
}

/* btn */
.btn {
  margin: 5px 0;
}

/*pagination*/
.pagination {
  .page-item {
    .page-link {
      color: $success_light_green;
    }
  }
  .page-item.active {
    .page-link {
      color: white;
      background-color: $success_light_green;
      border: 1px solid $light_gray;
    }
  }
}

/*pagination*/

/* search */
.search {
  margin-bottom: 20px;
}


/* product */
.product-item {
  padding: 10px 0;
  .product-header {
    text-align: center;
    height: 220px;
  }
  .card-img-top {
    height: 100%;
    width: auto;
    padding-top: 10px;
  }

}

/* product_detail */
.product_detail {
  height: 320px;
  img {
    height: 100%;
    max-width: 100%;
  }
}

/*posts*/
.posts {
  background-color: white;
  margin: 10px 0;
  padding: 10px 0;
}

.posts-prof {
  font-size: 11px;
}

.posts-content {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  margin-bottom: 10px;
  min-width: 120px;
  width: 100%;
  font-size: 16px;
  background: #e3f9e3;
  border-radius: 15px;
  &:before {
    content: "";
    position: absolute;
    top: 35px;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e3f9e3;
  }
  p {
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 40%;
    margin-bottom: 10px;
  }
}

.posts-product{
  border: solid;
  border-color: #f4f4f4;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
  img {
    max-width: 25%;
    height: auto;
    float: left;
    margin-right: 10px;
  }
}

.edit-button {
  text-align: right;
  margin-top: 10px;
}
/*posts*/


/* 追加分 */
.product .buttons form {
  display: inline-block;
  margin: 0 5px;
}
/* user-profile */
.user-profile {
  .name {
    margin-bottom: 20px;
    h1 {
      text-shadow: 1px 1px 1px white;
      font-weight: bold;
    }
  }
  .status {
    ul {
      margin: 0 auto 10px;
      padding: 0;
      display: table;
      li {
        width: 120px;
        padding: 5px 0;
        border-right: 1px solid $light_gray;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #777;
        .status-value {
          font-size: 18px;
        }
        .status-label {
          font-size: 12px;
        }
        &:last-child {
          border: none;
        }
      }
    }
    .comment ul li {
      width: 480px;
    }
  }
}

.user-profile .status .comment ul li {
  width: 480px;
}

/*post*/
.post {
  margin: 10px 10px;
  border: 1px solid #000;
  border-radius: 30px;
  .product-picture img {
    width: 50px;
  }
}
.post-picture img{
  width: 320px;
}

/*post*/

/*footer*/

footer {
  padding: 4em 0;
  background: #323a45;
  color: #878c93;
  bottom: 0;
  font-weight: 300;
  p {
    display: block;
  }
  a {
    color: #9a9fa5;
    &:hover, &:active, &:focus {
      color: $green;
    }
  }
}

.footer-logo {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  a {
    font-size: 20px;
    letter-spacing: 2px;
    color: #ccc;
    float: left;
    padding: 7px 10px 7px 12px;
    &:hover, &:active, &:focus{
      color: white;
      text-decoration: none;
    }
  }
}

.footer-list {
  padding: 0;
  margin: 0;
  &__item {
    list-style: none;
    padding: 0;
    margin: 0 0 14px 0;
    line-height: 16px;
  }
}

/*footer*/
