@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #5cb85c;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* search */
.search {
  margin-bottom: 20px;
}

/* product */
.product .panel-body {
  height: 200px;
}
.product .panel-heading {
  height: 250px;
}
.product .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.product-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* product */

/* 追加分 */
.product .buttons form {
  display: inline-block;
  margin: 0 5px;
}
/* users */
.user-profile .name {
  margin-bottom: 20px;
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 12px;
}
.user-profile .status ul li .status-value {
  font-size: 18px;
}