@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

h1,h2 {
  text-align: center;
}

a {
  color: #4fd2c2;
}


/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1000px;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 4vw;
}

/* search */
.search {
  margin-bottom: 20px;
}


/* product */
.product .panel-body {
  height: 170px;
}
.product .panel-heading {
  height: 250px;
}
.product .panel-heading img {
  height: 100%;
  max-width: 100%;
}
.product-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product-brand {
  /* 文の行数を1行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* product */

/* product_detail */
.product_detail .panel-body {
  height: 30px;
}
.product_detail .panel-heading {
  height: 320px;
}
.product_detail .panel-heading img {
  height: 100%;
  max-width: 100%;
}
/* product_detail */

/*posts*/
.posts {
  background-color: #ffffff;
  margin:10px 0;
  padding: 10px 0;
}
.posts-prof {
  font-size: 11px;
}
.posts-content {
  background-color: #e3f9e3;
  border-radius: 25px;
}
.posts-content img {
  max-width: 40% ;
  margin-bottom: 10px ;
}
.posts-product{
  border:solid;
  border-color: #f4f4f4;
  border-radius: 25px;
}

.posts-product img {
  max-width: 25%;
  height: auto;
  float: left;
  margin-right: 10px;  
}

.edit-button {
  text-align: right;
  margin-top: 10px;
}
/*posts*/


/* 追加分 */
.product .buttons form {
  display: inline-block;
  margin: 0 5px;
}
/* users */
.user-profile .name {
  margin-bottom: 20px;
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 12px;
}
.user-profile .status ul li .status-value {
  font-size: 18px;
}
/*post*/
.post {
  margin: 10px 10px;
  border: 1px solid #000;
  border-radius: 30px;  
}
.post-picture img{
  width: 320px;
}

.post .product-picture img {
  width: 50px;
}
/*post*/

/*service*/
#features {
  background-color: #ffffff;
}
.features .feature {
  margin-bottom: 30px;
}
.features .feature .feature-icon {
  margin-bottom: 30px;
  display: block;
}
.features .feature .feature-icon i {
  font-size: 50px;
  color: #7ee383;
}
.features .feature .feature-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
/*service*/

/*footer*/

#footer {
  padding: 4em 0;
  background: #323a45;
  color: #878c93;
  /*position: fixed;*/
  bottom: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}
#footer .footer-content {
  position: relative;
  z-index: 9;
}
#footer .container .row > div {
  margin-bottom: 30px;
}
#footer p {
  display: block;
}
#footer .fh5co-copyright small {
  font-size: 12px;
}
#footer .lead {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 20px;
}
#footer a {
  color: #9a9fa5;
}
#footer a:hover, #footer a:active, #footer a:focus {
  color: #4fd2c2;
}
#footer .footer-logo {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
#footer .footer-logo a {
  font-size: 20px;
  letter-spacing: 2px;
  color: #ccc;
  float: left;
  padding: 7px 10px 7px 12px;
}
#footer .footer-logo a:hover, #footer .footer-logo a:active, #footer .footer-logo a:focus {
  color: #fff;
  text-decoration: none;
}
#footer ul {
  padding: 0;
  margin: 0;
}
#footer ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 14px 0;
  line-height: 16px;
}
.social-icons > a {
  margin-right: 10px;
  color: #4fd2c2;
}
/*footer*/