@charset "utf-8";
@import "bootstrap";

$green: #4fd2c2;
$light_gray: #ddd;
$dark_gray: #f2f2f2;
$success_green: #5cb85c;
$success_light_green: #4cae4c;
$warning_yellow: #f0ad4e;
$danger_red: #d9534f;

/* body */
body {
  background: $dark_gray;
}
footer {
  margin-top: 40px;
}

h1,h2 {
  text-align: center;
  margin: 30px 0;
}
h3,h4 {
  margin: 15px 0;
}

a {
  color: $green;
  text-decoration: none;
}

/* user-nav */
.user-nav {
  .nav-link.active {
    color: $green;
    background-color: white;
  }
}

/* btn */
.btn {
  margin: 5px 0;
}
