@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

h1,h2 {
  text-align: center;
  margin: 30px 0;
}
h3,h4 {
  margin: 15px 0;
}

a {
  color: #4fd2c2;
}

.media-list {
  margin-top:10px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* btn */
.btn {
  margin-bottom:5px;
}
.btn-outline-success{
  color:#5cb85c ;
  border-color:#4cae4c ;
  &:hover{
    color:#ffffff ;
    background-color:#4cae4c ;
  }
}

.btn-outline-warning{
  color:#f0ad4e;
  background-color:#ffffff;
  border-color:#eea236;
  &:hover{
    color:#ffffff ;
    background-color:#eea236;
  }
}

.btn-outline-danger{
  color:#d9534f;
  background-color:#ffffff;
  border-color:#d9534f;
  &:hover {
  color:#ffffff ;
  background-color:#d9534f ;
  }
}


/* btn */

/*pagination*/
.pagination li a {
  color:#5cb85c;
}

.pagination .active a {
  color:#ffffff;
  background-color:#4cae4c ;
  border:1px solid #ddd;
  &:hover{
    color:#ffffff ;
    background-color:#4cae4c ;
  }
} 

/*pagination*/



/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  padding: 3em 0;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 6vw;
  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;
}

.cover-button {
  margin-bottom: 20px;
}

/* search */
.search {
  margin-bottom: 20px;
}


/* product */
.product .panel-body {
  height: 170px;
}
.product .panel-heading {
  height: 250px;
}
.product .panel-heading img {
  height: 100%;
  max-width: 100%;
}
.product-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 3.0em;
}

.product-brand {
  /* 文の行数を1行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.star {
  margin-bottom:10px;
}

/* product */

/* product_detail */
.product_detail .panel-body {
  height: 30px;
}
.product_detail .panel-heading {
  height: 320px;
}
.product_detail .panel-heading img {
  height: 100%;
  max-width: 100%;
}
/* product_detail */

/* brand_detail */
.brand_detail .panel-body {
  height: 30px;
}
.brand_detail .panel-heading {
  height: 240px;
}
.brand_detail .panel-heading img {
  height: 100%;
  max-width: 100%;
}
/* brand_detail */

/*posts*/
.posts {
  background-color: #ffffff;
  margin:10px 0;
  padding: 10px 0;
}

.posts-prof {
  font-size: 11px;
}

.posts-content {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  margin-bottom: 10px;
  min-width: 120px;
  width: 100%;
  font-size: 16px;
  background: #e3f9e3;
  border-radius: 15px ;
  &:before {
    content: "";
    position: absolute;
    top: 35px;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e3f9e3;
  }
  p {
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 40% ;
    margin-bottom: 10px ;
  }
}

.posts-product{
  border:solid;
  border-color: #f4f4f4;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
  img {
    max-width: 25%;
    height: auto;
    float: left;
    margin-right: 10px;  
  }
}

.edit-button {
  text-align: right;
  margin-top: 10px;
}
/*posts*/


/* 追加分 */
.product .buttons form {
  display: inline-block;
  margin: 0 5px;
}
/* users */
.user-profile {
  .name {
    margin-bottom: 20px;
    h1 {
      text-shadow: 1px 1px 1px #fff;
      font-weight: bold;
    }
  }
  .status {
    ul {
      margin: 0 auto 10px;
      padding: 0;
      display: table;
      li {
        width: 120px;
        padding: 5px 0;
        border-right: 1px solid #ddd;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #777;
        .status-value {
          font-size: 18px;
        }
        .status-label {
          font-size: 12px;
        }
         &:last-child {
          border: none;
         }
      }
    }
    .comment ul li {
      width: 480px;
    }    
  }
}

.user-profile .status .comment ul li {
  width: 480px;
}

.users{
  width: 100%;
  height: 90px;
  margin: 10px 0;
  display: inline-block;
  img {
    max-width: 25%;
    height: 100%;
    float: left;
    margin-right: 10px;  
  }
  .comment {
    /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

/*users*/

/*post*/
.post {
  margin: 10px 10px;
  border: 1px solid #000;
  border-radius: 30px;  
  .product-picture img {
    width: 50px;
  }
}
.post-picture img{
  width: 320px;
}

/*post*/

/*service*/
.features .feature {
  margin-bottom: 30px;
  .feature-icon{
    margin-bottom: 30px;
    display: block;
    .i {
      font-size: 50px;
      color: #7ee383;
    }
  }
  .feature-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

/*footer*/

#footer {
  padding: 4em 0;
  background: #323a45;
  color: #878c93;
  bottom: 0;
  font-weight: 300;
}

#footer .footer-content {
  position: relative;
  z-index: 9;
}

#footer .container .row > div {
  margin-bottom: 30px;
}

#footer p {
  display: block;
}

#footer .fh5co-copyright small {
  font-size: 12px;
}

#footer .lead {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 20px;
}

#footer a {
  color: #9a9fa5;
  &:hover, &:active, &:focus {
    color: #4fd2c2;
  }
}

#footer .footer-logo {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  a {
    font-size: 20px;
    letter-spacing: 2px;
    color: #ccc;
    float: left;
    padding: 7px 10px 7px 12px;
    &:hover, &:active, &:focus{
      color: #fff;
      text-decoration: none;
    }
  }
}

#footer ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 0;
    margin: 0 0 14px 0;
    line-height: 16px;
  }
}

.social-icons > a {
  margin-right: 10px;
  color: #4fd2c2;
}

/*footer*/