@charset "utf-8";

$green: #4fd2c2;
$light_gray: #ddd;
$dark_gray: #f2f2f2;
$success_green: #5cb85c;
$success_light_green: #4cae4c;
$warning_yellow: #f0ad4e;
$danger_red: #d9534f;

/* body */
body {
  background: $dark_gray;
}
footer {
  margin-top: 40px;
}

h1,h2 {
  text-align: center;
  margin: 30px 0;
}
h3,h4 {
  margin: 15px 0;
}

a {
  color: $green;
}

.media-list {
  margin-top: 10px;
}

/* navbar */
.navbar {
  background-color: white;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* user-nav */
.user-nav {
  .nav-link.active {
    color: $green;
    background-color: white;
  }
}

/* btn */
.btn {
  margin: 5px 0;
}
.btn-outline-success{
  color:$success_green;
  border-color:$success_light_green;
  &:hover{
    color: white;
    background-color:$success_light_green;
  }
}

.btn-outline-warning{
  color:#f0ad4e;
  background-color: white;
  border-color:#f0ad4e;
  &:focus {
    color: #f0ad4e;
  }
  &:hover{
    color: white;
    background-color:#f0ad4e;
  }
}

.btn-outline-danger{
  color: $danger_red;
  background-color: white;
  border-color: $danger_red;
  &:focus {
    color: $danger_red;
  }
  &:hover {
  color: white;
  background-color: $danger_red;
  }
}


/* btn */

/*pagination*/
.pagination {
  .page-item {
    .page-link {
      color: $success_light_green;
    }
  }
  .page-item.active {
    .page-link {
      color: white;
      background-color: $success_light_green;
      border: 1px solid $light_gray;
    }
  }
}

/*pagination*/

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
  .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
    .cover-contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h1 {
        margin: 0 0 20px 0;
        padding: 3em 0;
        color: white;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 6vw;
        text-shadow:
          black 1px 1px 0px, black -1px 1px 0px,
          black 1px -1px 0px, black -1px -1px 0px;
      }
    }
  }
}

.cover-button {
  margin-bottom: 20px;
}

/* search */
.search {
  margin-bottom: 20px;
}


/* product */
.product-item {
  padding: 10px 0;
}

/* product_detail */
.product_detail {
  height: 320px;
  img {
    height: 100%;
    max-width: 100%;
  }
}

/* brand_detail */
.brand_detail {
  .panel-body {
    height: 30px;
  }
  .panel-heading {
    height: 240px;
    img {
      height: 100%;
      max-width: 100%;
    }
  }
}

/* brand_detail */

/*posts*/
.posts {
  background-color: white;
  margin: 10px 0;
  padding: 10px 0;
}

.posts-prof {
  font-size: 11px;
}

.posts-content {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  margin-bottom: 10px;
  min-width: 120px;
  width: 100%;
  font-size: 16px;
  background: #e3f9e3;
  border-radius: 15px;
  &:before {
    content: "";
    position: absolute;
    top: 35px;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e3f9e3;
  }
  p {
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 40%;
    margin-bottom: 10px;
  }
}

.posts-product{
  border: solid;
  border-color: #f4f4f4;
  border-radius: 15px;
  display: inline-block;
  padding: 10px;
  img {
    max-width: 25%;
    height: auto;
    float: left;
    margin-right: 10px;
  }
}

.edit-button {
  text-align: right;
  margin-top: 10px;
}
/*posts*/


/* 追加分 */
.product .buttons form {
  display: inline-block;
  margin: 0 5px;
}
/* users */
.user-profile {
  .name {
    margin-bottom: 20px;
    h1 {
      text-shadow: 1px 1px 1px white;
      font-weight: bold;
    }
  }
  .status {
    ul {
      margin: 0 auto 10px;
      padding: 0;
      display: table;
      li {
        width: 120px;
        padding: 5px 0;
        border-right: 1px solid $light_gray;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #777;
        .status-value {
          font-size: 18px;
        }
        .status-label {
          font-size: 12px;
        }
        &:last-child {
          border: none;
        }
      }
    }
    .comment ul li {
      width: 480px;
    }
  }
}

.user-profile .status .comment ul li {
  width: 480px;
}

.users{
  width: 100%;
  height: 90px;
  margin: 10px 0;
  display: inline-block;
  img {
    max-width: 25%;
    height: 100%;
    float: left;
    margin-right: 10px;
  }
  .comment {
    /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

/*users*/

/*post*/
.post {
  margin: 10px 10px;
  border: 1px solid #000;
  border-radius: 30px;
  .product-picture img {
    width: 50px;
  }
}
.post-picture img{
  width: 320px;
}

/*post*/

/*service*/
.features .feature {
  margin-bottom: 30px;
  .feature-icon{
    margin-bottom: 30px;
    display: block;
    .i {
      font-size: 50px;
      color: #7ee383;
    }
  }
  .feature-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

/*footer*/

footer {
  padding: 4em 0;
  background: #323a45;
  color: #878c93;
  bottom: 0;
  font-weight: 300;
  p {
    display: block;
  }
  a {
    color: #9a9fa5;
    &:hover, &:active, &:focus {
      color: $green;
    }
  }
}

.footer-logo {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  a {
    font-size: 20px;
    letter-spacing: 2px;
    color: #ccc;
    float: left;
    padding: 7px 10px 7px 12px;
    &:hover, &:active, &:focus{
      color: white;
      text-decoration: none;
    }
  }
}

.footer-list {
  padding: 0;
  margin: 0;
  &__item {
    list-style: none;
    padding: 0;
    margin: 0 0 14px 0;
    line-height: 16px;
  }
}

/*footer*/
