<h2>アイテムを登録する</h2>

<div class="search">
  <div class="row">
    <div class="text-center">
      <%= form_tag(new_product_path, method: :get, class: 'form-inline') do %>
        <div class="form-group">
          <%= text_field_tag :keyword, "",  id: "book_search", name: "keyword", class: 'form-control input-lg', placeholder: "例）ザバス プロテイン", size: 40 %>
        </div>
        <%= submit_tag 'アイテムを検索', class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'products', producs: @products %>