- set_meta_tags title: @product.title, description: "#{@product.title}の口コミです。", keywords: "#{@product.title},味,口コミ,評判,レビュー,おいしい,おすすめ"
- breadcrumb :show_product, @product

#product_detail
  = javascript_pack_tag 'product_detail'
