<footer id="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><a href="#">トップページ</a></li>
            <li><a href="#">利用基準</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">お問い合わせ</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><a href="#">人気アイテムランキング</a></li>
            <li><a href="#">アイテム一覧</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><a href="#">ユーザー一覧</a></li>
            <li><a href="#">マイページ</a></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-12 col-md-pull-9">
          <div class="footer-logo">SuppleBox</div>
          <p><small>&copy; 2019. All Rights Reserved.</p>
          <p class="social-icons">
            <a href="#">Share on Twitter</a>
          </p>
        </div>    
      </div>
    </div>
  </div>
</footer>